/* ESTILOS DEL BOTÓN CARGAR MÁS */
#loadMoreBtn {
    /* Fondo, color de texto y fuente retro */
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    color: var(--color-background); /* Texto oscuro sobre neón */
    background-color: var(--color-primary); /* Cian neón */
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 20px;
    
    /* Efecto neón y sombra */
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5); 
    
    /* Disposición del contenido (texto e icono) */
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre el icono y el texto */
    margin-left: auto;
    margin-right: auto;
}

#loadMoreBtn:hover {
    background-color: #33FFFF;
    transform: translateY(-2px); /* Pequeño efecto 3D al pasar el ratón */
    box-shadow: 0 0 25px var(--color-primary); /* Sombra más fuerte */
}